body {
  /* background-color: rgb(158, 201, 238); */
  height: 100vh;
}

p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  background-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}

input:autofill {
  background-color: white !important;
  color: black !important;
}

input {
  padding-top: 4px;
  padding-bottom: 4px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.login-info {
  display: flex;
  flex-direction: column;
  background-color: rgb(205, 205, 214);
  width: 50%;
  max-width: 400px;
  min-width: 200px;
  place-items: center;
  height: 300px;
  border-radius: 8px;
  border: solid rgba(0, 0, 0, 0.486) 0.5px;
}

@media (max-width: 768px) {
  .login-info {
    width: 80%;
  }
}

.login-header {
  color: white;
}

.create-account-btn {
  color: #2196f3;
  font-size: 1.1rem;
}

.username-box {
  flex: 1;
}

.password-box {
  flex: 1;
}

.submit-btn {
  font-size: 1rem;
  background-color: rgb(0, 142, 189);
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}

.username {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: black;
}

.password {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: black;
}

.forgot-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.forgot-user {
  font-size: 0.85rem;
  color: #2196f3;
}

.forgot-pass {
  font-size: 0.85rem;
  color: #2196f3;
}

@media (max-width: 530px) {
  .forgot-user,
  .forgot-pass {
    font-size: 0.75rem;
  }
}

@media (max-width: 530px) {
  .submit-btn {
    font-size: 0.85rem;
  }
}

@media (max-width: 530px) {
  input {
    font-size: 0.85rem;
    padding: 4px;
  }
}
